@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.App {
  /*font-family: "Times New Roman", Times, serif;*/
  text-align: center;
  background-color: #333;
  margin: 0px;
  border: 0px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  font-family: "Roboto", cursive;
}

.FlexChildrenRow {
  /* Don't edit height, sets the height of flexbox in src/renderer/app */
  height: 5vh;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: right;
}

.FlexChildrenColumn {
  /* Don't edit height, sets the height of flexbox in src/renderer/app */
  height: 95vh;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: right;
}

.Header {
  height: 100%;
  background-color: #36393e;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #2C2F33;
}

.ServerList {
  height: 100%;
  background-color: #1e2124;
  align-items: center;
  justify-content: right;
}

.ChannelList {
  height: 100%;
  background-color: #2C2F33;
}

.UserList {
  height: 100%;
  background-color: #2C2F33;
  align-items: center;
  justify-content: center;
}

.TextWindow {
  height: 100%;
  background-color: #36393e;
  align-items: center;
  justify-content: right;
}
