@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.App {
  /*font-family: "Times New Roman", Times, serif;*/
  text-align: center;
  background-color: #333;
  margin: 0px;
  border: 0px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  font-family: "Roboto", cursive;
}

/* Styles for Login/Signup */
.AppContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1e2124;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.SignUpBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  margin: 2px;
}

.formControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 20px;
  background-color: #7289da;
  margin: 10px;
}

.textContainer {
  font-size: large;
  padding-top: 10px;
  font-weight: bold;
  color: lightgrey;
}

/* Styles for account Settings */
.randomSettingsThingsIcantNameRightNow {
  font-size: inherit;
  text-align: right;
  font-weight: bold;
  color: lightgrey;
}

/* Styles for text and display items */
.WindowHeadingContainer {
  height: 4%;
  align-items: left;
  justify-content: left;
  background-color: #2C2F33;
}

.WindowHeading {
  font-size: large;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #2E8B57;
  text-align: left;
}

.NavColumnHeading {
  font-size: large;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: lightgrey;
}

.FlexColumnHeading {
  font-size: large;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: lightgrey;
}

.typography {
  font-size: large;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: lightgrey;
}

/* Styles for main divs around flexbox */
.Header {
  height: 100%;
  background-color: #36393e;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #2C2F33;
}

.ServerList {
  height: 100%;
  background-color: #1e2124;
  align-items: center;
  justify-content: right;
}

.ChannelList {
  height: 100%;
  background-color: #333;
}

.UserList {
  height: 100%;
  background-color: #333;
  align-items: center;
  justify-content: center;
}

.TextWindow {
  height: 100%;
  background-color: #36393e;
  align-items: center;
  justify-content: right;
}

/* flexbox parent controllers */
.FlexChildrenRow {
  /* Don't edit height, sets the height of flexbox in src/renderer/app */
  height: 5vh;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: right;
}

.FlexChildrenColumn {
  /* Don't edit height, sets the height of flexbox in src/renderer/app */
  height: 95vh;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: right;
}
